* text=auto

*.sh      text eol=lf
*.py      text eol=lf

*.bat     text eol=crlf
*.sln     text eol=crlf
*.vcproj  text eol=crlf

*.png     binary
*.jpg     binary
*.pdf     binary
*.zip     binary

src/blend2d/** linguist-vendored
src/freetype/** linguist-vendored
src/openssl/** linguist-vendored
src/skia/** linguist-vendored

.gitignore     export-ignore
.gitattributes export-ignore

