.feedBackInit {
	background: url("//www.citrix.com/static/kampyle/qa/images/icon-feedback-support.png") no-repeat 0px 0px transparent;
	display: block;
	height: 30px;
	width: 163px;
}
.feedBackCollapsed:hover {
	background: url("//www.citrix.com/static/kampyle/qa/images/icon-feedback-support.png") no-repeat 0px 0px transparent;
	display: block;
	height: 32px;
	width: 166px;
}
#kampylink img {
	display: none !important;	
}
#kampylink {
	position: fixed;
	right: 10px;
	bottom: 0px;
	z-index: 1000000000;
}
#edocsCopyright {
	margin: 0px 170px 0px 0px;
}