body {
	color: #11375F;
	background-color: #FFFFFF;
}
h1 {
	text-align: center;
  line-height: 1.2em;
	color: #000000; 
}
h2, h3, h4 {
	color: #000000;
}
caption { font-weight: bold }
div.qindex {
	width: 100%;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 1.2em;
}
div.nav {
	width: 100%;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
a.qindex {
	text-decoration: none;
	font-weight: bold;
	color: #1A5593;
	padding: 2px;
}
a.qindex:visited {
	text-decoration: none;
	font-weight: bold;
	color: #1A5593;
	padding: 2px;
}
a.qindex:hover {
	color: #C30014;
	padding: 2px;
}
a.qindexHL {
	font-weight: bold;
	padding: 2px 6px;
}
a.qindexHL:hover {
	padding: 2px 6px;
}
a.qindexHL:visited {
}
a.el { text-decoration: none; color: #FF5593; font-weight: bold; }
a.elRef { font-weight: bold; color: #1A5593; }
a.code { text-decoration: none; font-weight: normal; color: #1A5593;}
a.codeRef { font-weight: normal; color: #1A5593;}

a:link, a:active { font-weight: bold; color: #154374; }
a:visited { font-weight: bold; color: #154374; }
a:hover { font-weight: bold; color: #C30014; }
dl.el { 
	margin-left: 0cm;
}
.fragment {
       font-family: monospace
}
pre.fragment {
	background-color: #E5E5E5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
div.ah { background-color: black; font-weight: bold; color: #FFFFFF; margin-bottom: 3px; margin-top: 3px }
td.md { background-color: #E5E5E5; font-size: 20px; font-weight: bold; }
td.mdname1 { background-color: #E5E5E5; font-size: 20px; font-weight: bold; color: #602020; }
td.mdname { background-color: #E5E5E5; font-weight: bold; color: #602020; width: 600px; }
div.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
       font-family: Geneva, Arial, Helvetica, sans-serif;
}
div.groupText { margin-left: 16px; font-style: italic; font-size: 14px }
td.indexkey {
	background-color: #E5E5E5;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
td.indexvalue {
	background-color: #E5E5E5;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
tr.memlist {
	background-color: #D5DBE6;
}
p.formulaDsp { text-align: center; }
img.formulaDsp { }
img.formulaInl { vertical-align: middle; }
.mdTable {
	width: 100%;
	background-color: #E5E5E5;
}
.mdRow {
	padding: 8px 10px;
}
.mdescRight {
        padding: 0px 8px 4px 8px;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 0px;
}
.search     { color: #003399;
              font-weight: bold;
}
form.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
input.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #E5E5E5;
}
td.tiny      { font-size: 75%;
}
ul { 
	background-color: #F8F9FD;
}
.nestedul { 
	border: none;
}
li { 
	list-style-type: disc;
	margin-top: 0.4em;
	margin-bottom: 0.5em;
}
hr { 
	background-color: #8593B3; 
	border-style: none; 
	height: 1px; 
	margin-top: 2em;
}
a.qindexH {
	font-weight: normal;
	font-size: small;
	color: #FFFFFF;
}
a.qindexH:hover, a.qindexH:active { 
	color: #154374;
}
